<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Manually Add Point</h2>
                <span flex></span>
                <md-button class="md-raised" ng-click="cancel()">
                    Close
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>New Humid Point</h2>
                <p>
                </p>
            </div>
            <md-input-container>
              <label>Sensor</label>
              <input ng-model="data.sensor" type="text">
            </md-input-container>
            <md-input-container>
              <label>Date</label>
              <input ng-model="data.date" type="text">
            </md-input-container>
            <md-input-container>
              <label>Value</label>
              <input ng-model="data.value" type="number">
            </md-input-container>
            <md-input-container>
              <label>Type</label>
              <input ng-model="data.type" type="text">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="add(data)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
