
<md-content layout="column" layout-align="center center" layout-gt-md="row" layout-align-gt-md="center start">
  <md-content ng-repeat="sensor in datalistVm.data">
    <h2>{{sensor.name}}</h2>
    <md-button ng-click="datalistVm.addPoint()" flex class="md-raised">
        Add Point
    </md-button>
    <md-button flex class="md-raised" ng-click="datalistVm.editGroups()" >
        Edit Groups
    </md-button>
    <md-button flex class="md-raised">
        Edit Sensors
    </md-button>
    <md-button ng-click="datalistVm.addSensor()" flex class="md-raised">
        New Sensor
    </md-button>
    <md-button flex class="md-raised">
        Add Type
    </md-button>
    <md-button flex class="md-raised">
        Edit Types
    </md-button>
      <div ng-repeat="point in sensor.data">
        <sl-data-list-item
          sl-data-id="point.id"
          sl-data-name='{{sensor.name}}'
          sl-data-type="{{sensor.type}}"
          sl-data-group="{{sensor.group}}"
          sl-data-value="point.value"
          sl-data-date="point.date"
          sl-data-group-id="{{sensor.groupID}}">
        </sl-data-list-item>
      </div>

  </md-content>
</md-content>
