<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogVm.info.title}}</h2>
                <span flex></span>
                <md-button class="md-raised" ng-click="dialogVm.close()">
                    Close
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-width : 700px" >
          <div class="md-dialog-content">
            <h2>{{dialogVm.info.content}}</h2>
            <div layout="row" layout-wrap>

              <md-input-container flex="33" layout-wrap ng-show="!dialogVm.info.disableName">
                <label>Sensor Name</label>
                <md-select ng-model="dialogVm.sensorData" ng-change="dialogVm.setData()">
                  <md-option ng-repeat="sensor in dialogVm.sensors" ng-value="{{sensor}}" >
                    {{sensor.name}}
                  </md-option>
                </md-select>
              </md-input-container>


              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.disableName">
                <label>Sensor Name</label>
                <input ng-model="dialogVm.data.name" type="text" ng-disabled="dialogVm.info.disableType">
              </md-input-container>


              <md-input-container flex="33" layout-wrap>
                <label>Date</label>
                <input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
  placeholder="Date" show-todays-date="" min-date="date" ng-model="dialogVm.data.date" class="md-input"
  readonly="readonly" short-time="true" ng-disabled="dialogVm.info.disableDate">
              </md-input-container>

              <md-input-container flex="33" layout-wrap>
                <label>Value</label>
                <input ng-model="dialogVm.data.value" type="number" ng-disabled="dialogVm.info.disableValue">
              </md-input-container>

              <md-input-container flex="33" layout-wrap>
                <label>Type</label>
                <input ng-model="dialogVm.data.type" type="text" ng-disabled="dialogVm.info.disableType">
              </md-input-container>

              <md-input-container flex="33" layout-wrap layout-wrap ng-show="!dialogVm.info.disableGroup">
                <label>Groups</label>
                <md-select ng-model="dialogVm.data.group" ng-disabled="dialogVm.info.disableGroup">
                  <md-option ng-repeat="group in dialogVm.groups" ng-value="{{group}}">
                    {{group}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.disableGroup">
                <label>Groups</label>
                <input ng-model="dialogVm.data.group" type="text" ng-disabled="true">
              </md-input-container>


              <md-input-container flex="33" layout-wrap>
                <label>ID</label>
                <input ng-model="dialogVm.data.id" type="text" ng-disabled="dialogVm.info.disableID">
              </md-input-container>
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="dialogVm.close()">
                Cancel
            </md-button>
            <md-button ng-click="dialogVm.delete()" ng-show="!disableDelete" class="md-warn">
                Delete
            </md-button>
            <span flex></span>
            <md-button ng-click="dialogVm.update()">
                {{dialogVm.info.accept}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
