<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak name="dialogVm.panelForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogVm.info.title}}</h2>
                <span flex></span>
                <md-button class="md-raised" ng-click="dialogVm.close()">
                    Close
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-width : 700px" >
          <div class="md-dialog-content">
            <h2>{{dialogVm.info.content}}</h2>
            <div layout="row" layout-wrap>

              <!-- Sensor Names -->
              <!-- Menu - Selectable List - Used to Change Sensor-->
              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.selectSensor">
                <label>Sensor Name</label>
                <md-select ng-model="dialogVm.data.name" ng-change="dialogVm.setData()" ng-required="dialogVm.info.selectSensor">
                  <md-option ng-repeat="sensor in dialogVm.sensors" ng-value="sensor.name" >
                    {{sensor.name}}
                  </md-option>
                </md-select>
              </md-input-container>
              <!-- Non Menu Uneditable Sensor - Used to Dispay sensor-->
              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.editName">
                <label>Sensor Name</label>
                <input ng-model="dialogVm.data.name" type="text" required>
              </md-input-container>
              <!-- Non Menu Editable Sensor - Used to Create new Sensor Name-->
              <md-input-container flex="33" layout-wrap ng-show="!dialogVm.info.selectSensor && !dialogVm.info.editName">
                <label>Sensor Name</label>
                <input ng-model="dialogVm.data.name" type="text" ng-disabled="true">
              </md-input-container>

              <!-- Date -->
              <md-input-container flex="33" layout-wrap ng-show="!dialogVm.info.hideDate">
                <label>Date</label>
                <input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
  placeholder="Date" show-todays-date="" min-date="date" ng-model="dialogVm.data.date" class="md-input"
  readonly="readonly" short-time="true" ng-disabled="dialogVm.info.disableDate" ng-required="!dialogVm.info.hideDate">
              </md-input-container>

              <!-- Date -->
              <md-input-container flex="33" layout-wrap ng-show="!dialogVm.info.hideValue">
                <label>Value</label>
                <input ng-model="dialogVm.data.value" type="number" ng-disabled="dialogVm.info.disableValue" ng-required="!dialogVm.info.hideValue">
              </md-input-container>


              <!-- Types -->
              <!-- Menu of Types -->
              <md-input-container flex="33" layout-wrap layout-wrap ng-show="!dialogVm.info.disableType">
                <label>Type</label>
                <md-select ng-model="dialogVm.data.type" required>
                  <md-option ng-repeat="type in dialogVm.types" ng-value="type">
                    {{type}}
                  </md-option>
                </md-select>
              </md-input-container>
              <!-- Editable Groups -->
              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.disableType">
                <label>Type</label>
                <input ng-model="dialogVm.data.type" type="text" ng-disabled="true">
              </md-input-container>

              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.editType">
                <label>Type</label>
                <input ng-model="dialogVm.data.type" type="text">
              </md-input-container>


              <!-- Groups -->
              <!-- Menu of groups -->
              <md-input-container flex="33" layout-wrap layout-wrap ng-show="!dialogVm.info.disableGroup">
                <label>Groups</label>
                <md-select ng-model="dialogVm.data.group" required>
                  <md-option ng-repeat="group in dialogVm.groups" ng-value="group">
                    {{group}}
                  </md-option>
                </md-select>
              </md-input-container>
              <!-- Editable Groups -->
              <md-input-container flex="33" layout-wrap ng-show="dialogVm.info.disableGroup">
                <label>Groups</label>
                <input ng-model="dialogVm.data.group" type="text" ng-disabled="true">
              </md-input-container>


              <md-input-container flex="33" layout-wrap ng-show="!dialogVm.info.hideID">
                <label>ID</label>
                <input ng-model="dialogVm.data.id" type="text" ng-disabled="dialogVm.info.disableID">
              </md-input-container>
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="dialogVm.close()">
                Cancel
            </md-button>
            <md-button ng-click="dialogVm.delete()" ng-show="!dialogVm.info.disableDelete" class="md-warn">
                Delete
            </md-button>
            <span flex></span>
            <md-button type="submit" ng-click="dialogVm.update()">
                {{dialogVm.info.accept}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
