<md-content layout="column" layout-align="center center">
  <md-content layout="row" layout-align="center center">
  <md-button flex class="md-raised" ng-click="datalistVm.editGroups()" >
      Edit Groups
  </md-button>
  <md-button ng-click="datalistVm.editTypes()" flex class="md-raised">
      Edit Types
  </md-button>
  <md-button ng-click="datalistVm.addSensor()" flex class="md-raised">
      New Sensor
  </md-button>
  <md-button ng-click="datalistVm.addPointGen()" flex class="md-raised">
      Add Point
  </md-button>
</md-content>


<md-content layout="column" layout-align="center start" layout-gt-md="row" layout-align-gt-md="center start">
  <md-content ng-repeat="sensor in datalistVm.sensors" flex>
    <h1 flex>{{sensor.name}}</h1>
    <sl-sensor-list sl-sensor="sensor" ng-if="sensor !== undefined">
    </sl-sensor-list>
  </md-content>


</md-content>
</md-content>
