<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">

        <md-button class="md-fab md-mini md-primary" aria-label="Favorite" href="/">
            <md-icon md-svg-icon="/img/icons/ic_home_white_48px.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate class="title-text">SOIL DASHBOARD</h2>

        <!--<md-button class="md-icon-button" aria-label="Favorite">-->
            <!--<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>-->
        <!--</md-button>-->

        <div ng-controller="datasetViewToggler">
        <md-button class="md-raised" aria-label="Learn More" ng-click="toggleDataSet()">
            DataSet
        </md-button>
        </div>

    </div>
</md-toolbar>