
.hide-validation-error .md-errors-spacer {
  display: none;
}

.add-list-item  {
  margin-top: 26px;
}

.list-panel-list-item {
  margin-top: 7px;
  margin-bottom: 7px
}

.humidity-data  {
  min-width : 270px
}

.humidity-value {
  margin : 0 0 0 0
}

.humidity-name {
  margin : 0 0 0 0
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
  padding-top : 0px
}

.md-content-adjust {
  margin-bottom : 0px;
  padding-bottom : 0px
}

md-card md-card-title {
  padding-bottom : 5px;
}

.humidity-actions {
  margin-top : 4px;
}



.humidity-value.humidity-card-body {
 float : right
}

.humidity-name.humidity-card-body  {
  float : left
}

h2.title-text {
  margin-left : 25px;
}
